a {
  font-family: "Roboto", sans-serif;
  color: yellow;
}

p.error {
  color: red;
}

.button {
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid yellow;
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  color: yellow;
  text-decoration: none;
}

.guests button {
  width: 30%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
}

.save a.btn {
  width: 15%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px 5px 10px;

}

.commentadded a.btn {
  width: 15%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px 5px 10px;

}

.btn {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
}

.search button {
  width: 180%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
  padding: 10px 10px 10px 10px;
}

body {
  font-family: "Roboto", sans-serif;
  color: yellow;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: yellow;
}

body.home {
  background-image: url("../images/amelie.jpg");
  background-size: cover;
}

.home input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
  padding: 20px 45px 20px 20px;
}

.home input::placeholder {
  color: yellow;
}

.eventdetails input {
  width: auto;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 14px;
  color: yellow;
  padding: 10px 10px 10px 10px;
}

div.eventdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: yellow;
}

.guests input {
  width: auto;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
  padding: 10px 10px 10px 10px;
}

.guests input::placeholder {
  color: yellow;
}

body.existingevent {
  background-image: url("../images/in-the-mood-for-love.jpg");
  background-size: cover;
}

body.newevent {
  background-image: url("../images/an-autumn-afternoon.jpg");
  background-size: cover;
}

body.search {
  background-image: url("../images/millennium-mambo.jpg");
  background-size: cover;
}

div.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body.title {
  background-image: url("../images/before-sunrise.jpg");
  background-size: cover;
}

.title input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
  padding: 20px 45px 20px 20px;
}

.title input::placeholder {
  color: yellow;
}

body.genre {
  background-image: url("../images/oldboy.jpg");
  background-size: cover;
}

select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  font-size: 16px;
  color: yellow;
  padding: 20px 45px 20px 20px;
}

option {
  color: black;
}


body.country {
  background-image: url("../images/shirkers.jpg");
  background-size: cover;
}

body.select {
  background-image: url("../images/taipei-story.jpg");
  background-size: cover;
}

body.eventdetails {
  background-image: url("../images/after-life.jpg");
  background-size: cover;
}

body.guests {
  background-image: url("../images/tampopo.jpg");
  background-size: cover;
}

body.final {
  background-image: url("../images/everything-everywhere-all-at-once.jpg");
  background-size: cover;
}

body.guesterror {
  background-image: url("../images/eat-drink-man-woman.jpg");
  background-size: cover;
}

body.detailserror {
  background-image: url("../images/the-farewell.jpg");
  background-size: cover;
}

body.save {
  background-image: url("../images/microhabitat.jpg");
  background-size: cover;
}

body.comment {
  background-image: url("../images/chungking-express.jpg");
  background-size: cover;
}

div.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.comment input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid yellow;
  border-radius: 40px;
  font-size: 16px;
  color: yellow;
  padding: 20px 45px 20px 20px;
  font-family: "Roboto", sans-serif;
  color: yellow;
}

.comment input::placeholder {
  color: yellow;
}

body.commentadded {
  background-image: url("../images/on-the-beach-at-night-alone.jpg");
  background-size: cover;
}

body.error {
  background-image: url("../images/grass.jpg");
  background-size: cover;
}

body.credits {
  background-image: url("../images/portrait-of-a-lady-on-fire.jpg");
  background-size: cover;
}

div.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: yellow;
}