<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Add Comment</title>
  </head>
  <body class="comment">
    <div>
      <form method="POST" data-th-action="@{/comment}" data-th-object="${comment}">
        <div>Comment:
          <br><br>
          <textarea name="comment" cols="30" rows="4"></textarea>
        </div>
        <br>
        <button type="submit">Add comment</button>
      </form>
    </div>
    <footer>
      <p>Still from Chungking Express (Wong Kar-wai, 1994)</p>
    </footer>
  </body>
</html>