<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Comment Added</title>
    <a href="/logout" class="button">Logout</a>
  </head>
  <body class="commentadded">
    <div class="commentadded">
      <a th:href="@{'/login?name=' + ${name}}" class="btn">Comment added</a>
    </div>
    <footer>
      <p>Still from On the Beach at Night Alone (Hong Sang-soo, 2017)</p>
    </footer>
  </body>
</html>



