<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Search by Country</title>
  </head>
  <body class="country">
      <div>
        <form method="GET" data-th-action="@{/movies/country}">
        Country:
        <select name="country">
          <option
            data-th-each="ccode : ${ccodes}"
            data-th-value="${ccode.code}"
            data-th-text="${ccode.name}"
          ></option>
        </select>
        <button type="submit">Search</button>
      </form>
      </div>
    <footer>
      <p>Still from Shirkers (Sandi Tan, 2018)</p>
    </footer>
  </body>
</html>
