<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Country Movies</title>
    <a
      href="/logout"
      class="button"
      style="
        background: transparent;
        border: none;
        outline: none;
        border: 1px solid yellow;
        border-radius: 15px;
        font-size: 12px;
        padding: 5px 10px 5px 10px;
        color: yellow;
        text-decoration: none;
        float: right;
      "
      >Logout</a
    >
  </head>
  <body
    class="countrymovies"
    style="
      margin: 40px;
      background-image: url('../images/yi-yi.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: 'Roboto', sans-serif;
      color: yellow;
    "
  >
    <div>
      <div data-th-if="${#lists.isEmpty(movies)}">
        <p>No movies found, please pick another country!</p>
      </div>
      <div data-th-unless="${#lists.isEmpty(movies)}">
        <article data-th-each="movie : ${movies}">
          <h3 data-th-text="${movie.title}"></h3>
          <div>
            <p data-th-text="${movie.overview}"></p>
          </div>
          <div>
            Release Date: <span data-th-text="${movie.releaseDate}"></span>
          </div>
          <br />
          <div>
            <img data-th-src="${movie.imageUrl}" width="250px" />
          </div>
          <div>
            <br />
            <a
              th:href="@{/select/{movieName}(movieName=${movie.title})}"
              style="font-family: 'Roboto', sans-serif; color: yellow"
            >
              Select
            </a>
          </div>
        </article>
      </div>
    </div>
    <footer
      style="
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: yellow;
      "
    >
      <p>Still from Yi Yi (Edward Yang, 2000)</p>
    </footer>
  </body>
</html>
