<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Country Movies</title>
  </head>
  <body class="countrymovies">
    <div data-th-if="${#lists.isEmpty(movies)}">
      <p>No movies found, please pick another country!</p>
    </div>
    <div data-th-unless="${#lists.isEmpty(movies)}">
      <article data-th-each="movie : ${movies}">
        <h3 data-th-text="${movie.title}"></h3>
        <div>
          <p data-th-text="${movie.overview}"></p>
        </div>
        <div>Release Date: <span data-th-text="${movie.releaseDate}"></span></div>
        <br>
        <div>
          <img data-th-src="${movie.imageUrl}" width="250px" />
        </div>
        <div>
          <br>
          <a th:href="@{/select/{movieName}(movieName=${movie.title})}">Select</a>
        </div>
      </article>
    </div>
  </body>
</html>