<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Credits</title>
  </head>
  <body class="credits">
    <div class="credits">
        <h3>This product uses the <a href="https://www.themoviedb.org/">TMDB API</a> but is not endorsed or certified by TMDB.</h3>
        <br>
        <img src='../images/tmdb.png'>
    </div>
    <footer>
        <p>Still from Portrait of a Lady on Fire (Céline Sciamma, 2020)</p>
      </footer>
  </body>
</html>
