<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Film Club Details</title>
    <a href="/logout" class="button">Logout</a>
  </head>
  <body class="eventdetails">
    <div class="eventdetails">
      <form method="POST" action="/eventdetails" data-th-object="${event}">
        <label for="eventMovie">Film Pick:</label>
        <input
          type="text"
          id="eventMovie"
          name="eventMovie"
          th:value="${session.selectedMovie}"
          readonly
        />
        <br><br>
        <label for="eventHost">Hosted By:</label>
        <input
          type="text"
          id="eventHost"
          name="eventHost"
          th:value="${session.eventHost}"
          readonly
        />
        <br><br>
        <label for="eventName">Film Club Name:</label>
        <input
          type="text"
          data-th-field="*{eventName}"
          id="eventName"
          name="eventName"
        />
        <p class="error" th:errors="*{eventName}"></p>
        <br><br>
        <label for="eventDate">Date:</label>
        <input
          type="date"
          data-th-field="*{eventDate}"
          id="eventDate"
          name="eventDate"
        />
        <p class="error" th:errors="*{eventDate}"></p>
        <br><br>
        <label for="eventTime">Time:</label>
        <input
          type="time"
          data-th-field="*{eventTime}"
          id="eventTime"
          name="eventTime"
        />
        <p class="error" th:errors="*{eventTime}"></p>
        <br><br>
        <label for="eventPlace">Location:</label>
        <input
          type="text"
          data-th-field="*{eventPlace}"
          id="eventPlace"
          name="eventPlace"
        />
        <p class="error" th:errors="*{eventPlace}"></p>
        <br><br>
        <button class="btn" type="submit">Next</button>
      </form>
    </div>
    <footer>
      <p>Still from After Life (Hirokazu Koreeda, 1999)</p>
    </footer>
  </body>
</html>
