<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Final Check</title>
    <a href="/logout" class="button">Logout</a>
  </head>
  <body class="final">
    <div>
      <form method="POST" data-th-action="@{/final}">
        <p>Film Pick: <span th:text="${event.eventMovie}"></span></p>
        <p>Hosted By: <span th:text="${event.eventHost}"></span></p>
        <p>Film Club Name: <span th:text="${event.eventName}"></span></p>
        <p>Date: <span th:text="${event.eventDate}"></span></p>
        <p>Time: <span th:text="${event.eventTime}"></span></p>
        <p>Location: <span th:text="${event.eventPlace}"></span></p>
        <span data-th-unless="${#lists.isEmpty(eventMembers)}">
          <p>With:</p>
          <ul>
            <li th:each="member : ${eventMembers}">
              <span th:text="${member.name}"></span>
            </li>
          </ul>
        </span>

        <button class="button" type="submit">Save details!</button>
      </form>
    </div>
    <footer>
      <p>
        Still from Everything Everywhere All at Once (Daniel Kwan, Daniel
        Scheinert, 2022)
      </p>
    </footer>
  </body>
</html>
