<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
  </head>
  <body>
    <form method="GET" data-th-action="@{/movies}">
      <table>
        <tr>
          <td>Genre</td>
          <td>
            <select name="genre">
              <option
                data-th-each="code : ${codes}"
                data-th-value="${code.code}"
                data-th-text="${code.name}"
              ></option>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button type="submit">Search</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
