<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Guests</title>
    <a href="/logout" class="button">Logout</a>
  </head>
  <body class="guests">
    <div class="guests">
      <form method="POST" data-th-object="${user}">
        <input
          type="text"
          data-th-field="*{name}"
          id="name"
          name="name"
          placeholder="Guest's Name"
        />
        <p class="error" th:errors="*{name}"></p>
        <span th:if="${success}" class="success">
          <p>Guest added!</p>
        </span>
        <br />
        <br>
        <button class="button" type="submit" formaction="/guests">Add</button>
        <button class="button" type="submit" formaction="/postguests">
          Done
        </button>
      </form>
    </div>
    <footer>
      <p>Still from Tampopo (Juzo Itami, 1985)</p>
    </footer>
  </body>
</html>
