<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guests</title>
  </head>
  <body>
    <form method="POST" data-th-object="${user}">
      <h1>Let's add the guests!</h1>

      <label for="name">Guests</label>
      <input type="text" data-th-field="*{name}" id="name" name="name" />
      <p th:errors="*{name}"></p>
      <br />

      <button type="submit" formaction="/postguests">Done Adding Users</button>
      <button type="submit" formaction="/guests">Add user</button>
    </form>
    <div data-th-unless="${#lists.isEmpty(eventMembers)}">
      <table border="1">
          <thead>
              <tr>
                  <th>Guest Names</th>
              </tr>
          </thead>
          <tbody>
              <tr data-th-each="e : ${eventMembers}">
                  <td><span data-th-text="${e.getName}"></span></td>
              </tr>
          </tbody>
      </table>
  </div>
  
  </body>
</html>
