<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
  </head>
  <body>
    <form method="GET" data-th-action="@{/movies}">
      <table>
        <tr>
          <td>Genre</td>
          <td>
            <select name="genre">
              <option
                data-th-each="gcode : ${gcodes}"
                data-th-value="${gcode.code}"
                data-th-text="${gcode.name}"
              ></option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Country</td>
          <td>
            <select name="country">
              <option
              data-th-each="ccode : ${ccodes}"
              data-th-value="${ccode.code}"
              data-th-text="${ccode.name}">
            </option>
            </select>
          </td>
          </tr>
          <td></td>
          <td>
            <button type="submit">Search</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
