<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Host Film Night</title>
    <a href="/logout" class="button">Logout</a>
</head>
<body class="newevent">
    <div>
        <form method="GET" action="/search">
            <h3>You don't have any movies lined up</h3>
            <button class="btn" type="submit">Pick one</button>
    </div>
    <footer>
        <p>Still from An Autumn Afternoon (Yasujirō Ozu, 1962)</p>
      </footer>

</body>
</html>