<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Details Saved</title>
    <a href="/logout" class="button">Logout</a>
</head>
<body class="save">
    <div class="save">
            <a th:href="@{'/login?name=' + ${name}}" class="btn">View movie invite</a>
    </div>
    <footer>
        <p>Still from Frances Ha (Noah Baumbach, 2013)</p>
      </footer>
</body>
</html>
