<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Film Pick</title>
  </head>
  <body class="select">
    <div>
      <p>
        You've picked "<span data-th-text="${movieName}"></span>", now let's 
        <a th:href="@{/eventdetails}">start the invite!</a>
      </p>
    </div>
    <footer>
      <p>Still from Millennium Mambo (Hou Hsiao-Hsien, 2001)</p>
    </footer>
  </body>
</html>