<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Film Pick</title>
    <a href="/logout" class="button">Logout</a>
  </head>
  <body class="select">
    <div>
      <form method="GET" action="/eventdetails">
        <h3>You've picked "<span data-th-text="${movieName}"></span>"</h3>
        <button class="btn" type="submit">Start hosting</button>
      </form>
    </div>
    <footer>
      <p>Still from Taipei Story (Edward Yang, 1985)</p>
    </footer>
  </body>
</html>
