<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Search by Title</title>
    <a href="/logout" class="button">Logout</a>
  </head>
  <body class="title">
    <div>
      <form method="GET" data-th-action="@{/movies/title}">
        <div class="title">
          <input type="text" name="title" placeholder="Title">
        </div>
    </form>
    </div>
    <footer>
      <p>Still from Before Sunrise (Richard Linklater, 1995)</p>
    </footer>
  </body>
</html>